body {
    font-family: "Poppins", sans-serif;
}

.paket-card {
    border-radius: 16px;
    transition: 0.3s;
}

.paket-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.paket-card ul {
    max-height: 200px;
    overflow-y: auto;
}
.paket-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.nav-link {
    border-radius: 10px;
    padding: 10px 12px;
    transition: all 0.25s ease;
}

/* HOVER */
.nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(5px);
}

/* ACTIVE MENU */
.nav-link.active {
    background: linear-gradient(135deg, #2d5db3, #060d39);
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* SUB MENU ACTIVE */
.collapse .nav-link.active {
    background: rgba(255, 255, 255, 0.2);
    color: #00d4ff !important;
}

button[aria-expanded="true"] span {
    transform: rotate(180deg);
    transition: 0.3s;
}
.collapse a:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding-left: 10px;
    transition: 0.2s;
}
.transition-icon {
    transition: 0.3s;
}

/* Saat terbuka */
button[aria-expanded="true"] .transition-icon {
    transform: rotate(180deg);
}

.paket-card {
    border-radius: 18px;
    border: none;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
}

.paket-card:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

/* HEADER GRADIENT */
.paket-header {
    background: linear-gradient(135deg, #0d6efd, #4dabf7);
    color: white;
    padding: 15px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

/* BADGE POPULAR */
.badge-popular {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ffc107;
    color: #000;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
}

/* ICON LIST */
.fitur-list li {
    margin-bottom: 6px;
    list-style: none;
}

.fitur-list li::before {
    content: "✔";
    color: #0d6efd;
    margin-right: 8px;
}

/* BUTTON STYLE */
.btn-cart {
    border-radius: 10px;
}

.btn-checkout {
    border-radius: 10px;
    font-weight: 500;
}
